html, head, header, body, ul, li, div {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
}
main {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

.bold {
  font-weight: bolder;
  color: black;
  background: #66CDAA;
}

.tabscontainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 50px;
}

li {
  box-sizing: border-box;
  border: 1px solid #663300;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  background-color: #B0E0E6;
  color: #663300;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

li:hover {
  background-color: #66CDAA;
  color: black;
}

.main {
  margin: 50px;
}

.tabsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("images/landscape.jpg");
  background-position: center;
  background-size: 360px;
  color: #FFDEAD;
  text-shadow: 2px 2px black;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 0px 0px 5px 5px;
}

.tabs-div, .clock-div {
  display: inline-block;
}

.tabsHeader {
  display: flex;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 3px solid #663300;
  box-sizing: border-box;
}

@font-face {
 font-family:'digital-clock';
 src: url('fonts/digital-7.regular.ttf');
}

.clock-container {
  border: 10px ridge darkgray;
  border-radius: 5px;
  width: 400px;
  margin: 50px;
  padding: 10px;
  font-family: digital-clock;
  color: red;
  background: black;
  font-size: 20px;
  padding-left: 50px;
}
